[Unit]
Description=Coffee Pot Webcam Service
After=network.target

[Service]
User=root
WorkingDirectory=/home/pi/internet-coffee-pot
ExecStart=/usr/bin/python3 /home/pi/internet-coffee-pot/app.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target